<ul class="nav nav-tabs">
  <li class="nav-item">
    <a data-toggle="tab" data-reflex="click->ChatReflex#set_room" href="#red" class="nav-link <%= "active" if active_chat_room?(:red) %>">Red Room</a>
  </li>
  <li class="nav-item">
    <a data-toggle="tab" data-reflex="click->ChatReflex#set_room" href="#yellow" class="nav-link <%= "active" if active_chat_room?(:yellow) %>">Yellow Room</a>
  </li>
  <li class="nav-item">
    <a data-toggle="tab" data-reflex="click->ChatReflex#set_room" href="#blue" class="nav-link <%= "active" if active_chat_room?(:blue) %>">Blue Room</a>
  </li>
</ul>
<div class="tab-content">
  <%= render "/demos/showcase/chat/chat_tab", room: "red" %>
  <%= render "/demos/showcase/chat/chat_tab", room: "yellow" %>
  <%= render "/demos/showcase/chat/chat_tab", room: "blue" %>
</div>
