<h1 class="text-4xl">Reverse Text</h1>

<%= render_demo "Prints whatever you type in reverse order" do %>
  <input class="form-control d-inline-block col-4" type="text" placeholder="Type something..."
    data-controller="application" data-reflex="keyup->ReverseTextReflex#perform" data-reflex-permanent>
  <span class="ml-3"><%= @value %></span>
<% end %>

<%= render_explanation do %>
  <p>
    <strong>No JavaScript was written for this demo.</strong>
    It uses the <code>data-reflex</code> and <code>data-reflex-permanent</code> attributes to produce the behavior.
  </p>
<% end %>

<%= render_gists do %>
  <%= render_gist language: "html" do %>
    <input type="text" data-reflex="keyup->ReverseTextReflex#perform" data-reflex-permanent>
  <% end %>

  <%= render_gist language: "ruby" do %>
    <%= File.open(Rails.root.join("app/reflexes/reverse_text_reflex.rb")).read %>
  <% end %>
<% end %>
