<h1>Snake</h1>

<%= content_for :demo_title, "Snakes need to eat, too!" %>
<%= content_for :demo_summary do %>
<% end %>
<%= render_demo :snake %>

<%= render_explanation do %>
  <p>
    However impractical it might seem, we wanted to demonstrate that StimulusReflex can
    emit updates fast enough to manage 60fps on a local connection. While you probably
    shouldn't port Doom, please consider yourself dared.
  </p>
  <p>
    At this time, this is a <strong>desktop-only</strong> demo as it relies on the arrow keys to steer.
  </p>
<% end %>

<%= render_gists(
  "app/views/demos/showcase/snake/_demo.html.erb",
  "app/javascript/controllers/snake_controller.js",
  "app/reflexes/snake_reflex.rb",
  "app/controllers/concerns/snake_demo.rb",
  "app/javascript/stylesheets/snake.scss"
) %>
