<div class="col-md-10 col-lg-8 col-xl-7">
<section class="todoapp" data-controller="missions" data-reflex-root=".todoapp">
  <header class="header">
    <input <%= "autofocus " unless @edit_id %> class="new-todo" placeholder="What needs to be done?" data-reflex-allow data-reflex="change->MissionsReflex#create" data-room="<%= session.id %>">
  </header>

  <% if @all_missions.any? %>
    <section class="main">
      <input class="toggle-all" type="checkbox">
      <label data-reflex="click->MissionsReflex#toggle_all" data-room="<%= session.id %>">
        Mark all as complete
      </label>
      <ul class="todo-list" data-target="missions.list">
        <%= render partial: "mission", collection: @filtered_missions %>
      </ul>
    </section>
  <% end %>

  <%= render "/time_travels/filters" if @all_missions.any? %>
</section>
</div>