<div class="form-row mb-4">
  <div class="col-6">
    <input type="text" placeholder="Search..." class="form-control"
      data-reflex="input->TabularReflex#search" data-reflex-root="#search-results">
  </div>
</div>

<div id="search-results">
  <table class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th style="width:25%">
          <%= link_to "Name #{arrow :name}", "#", class: column_css(:name),
            data: { reflex: "click->TabularReflex#order", column_name: :name } %>
        </th>
        <th style="width:25%">
          <%= link_to "Stars #{arrow :stars}", "#", class: column_css(:stars),
            data: { reflex: "click->TabularReflex#order", column_name: :stars } %>
        </th>
        <th style="width:25%">
          <%= link_to "Price #{arrow :price}", "#", class: column_css(:price),
            data: { reflex: "click->TabularReflex#order", column_name: :price } %>
        </th>
        <th style="width:25%">
          <%= link_to "Category #{arrow :category}", "#", class: column_css(:category),
            data: { reflex: "click->TabularReflex#order", column_name: :category } %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= "★" * restaurant.stars %></td>
          <td><%= "$" * restaurant.price %></td>
          <td><%= restaurant.category %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%== pagy_bootstrap_nav @pagy %>
</div>
