<div class="form-row mb-4">
  <div class="col-6">
    <input type="text" data-reflex="input->TabularReflex#filter" data-reflex-permanent placeholder="Filter..." class="form-control">
  </div>
</div>

<div class="row">
  <table class="table table-striped table-bordered" data-controller="tabular">
    <thead class="thead-light">
      <tr>
        <% Restaurant::FILTERS.each_with_index do |sort, i| %>
          <th scope="col" style="width: <%= i > 0 ? "22" : "34" %>%">
            <%= link_to sort.capitalize, "#", class: sort_css(sort), data: { reflex: "click->TabularReflex#sort", sort: sort } %>
            <%= arrow(sort, session[:sort], session[:sort_order]) %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= stars_to_symbol(restaurant.stars) %></td>
          <td><%= price_to_dollar_signs(restaurant.price) %></td>
          <td><%= restaurant.category %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row justify-content-center">
  <%= render partial: 'pagy', locals: {pagy: @pagy} %>
</div>