<%#                            -%><ul class="pagination mt-2">
<% if pagy.prev                -%>  <li class="page-item"><a href="#" class="page-link" data-page="<%= pagy.prev %>" data-reflex="click->TabularReflex#page">&lt;</a></li>
<% else                        -%>  <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;</a></li>
<% end                         -%>
<% pagy.series.each do |item|  -%>
<%   if    item.is_a?(Integer) -%>  <li class="page-item"><a href="#" class="page-link" data-page="<%= item %>" data-reflex="click->TabularReflex#page"><%= item %></a></li>
<%   elsif item.is_a?(String)  -%>  <li class="page-item active" aria-current="page"><a href="#" class="page-link active"><%= item %></a></li>
<%   elsif item == :gap        -%>  <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a></li>
<%   end                       -%>
<% end                         -%>
<% if pagy.next                -%>  <li class="page-item"><a href="#" class="page-link" data-page="<%= pagy.next %>" data-reflex="click->TabularReflex#page">&gt;</a></li>
<% else                        -%>  <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&gt;</a></li>
<% end                         -%>
<%#                            -%></ul>