<%= content_for :demo_title, "Tabular Data" %>
<%= content_for :demo_summary, "With sorting, filtering and pagination" %>
<%= render_demo "/tabulars/demo" %>

<%= render_explanation do %>
  <p>
    However impractical it might seem, we wanted to demonstrate that StimulusReflex can
    emit updates fast enough to manage 60fps on a local connection. While you probably
    shouldn't port Doom, please consider yourself dared.
  </p>
  <p>
    At this time, this is a <strong>desktop-only</strong> demo as it relies on the arrow keys to steer.
  </p>
<% end %>

<%= render_gists(
  "app/views/tabulars/_demo.html.erb",
  "app/controllers/tabulars_controller.rb",
  "app/reflexes/tabular_reflex.rb"
) %>
