<%= content_for :demo_title, "Route Infos" %>
<%= content_for :demo_summary, "With an abstract model, searching and filtering" %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>External?</th>
      <th>Route Name</th>
      <th>Controller</th>
      <th>Action</th>
      <th>Verb</th>
      <th>Path</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      <% if @external_toggle %>
          <%= render partial: 'filter_badge', locals: { filter_key: :external_only, filter_value: 'External Routes Only' } %>
        <% else %>
        <div id="external-toggle">
          <input type="checkbox" <%= "checked" if @external_toggle %> data-reflex="change->RouteInfo#filter"
            data-filter-key='external_only'>
        </div>
        <% end %>
      </td>
      <td>
        <% if @name_filter %>
          <%= render partial: 'filter_badge', locals: { filter_key: :name, filter_value: @name_filter } %>
        <% else %>
          <%= render partial: 'autocomplete_filter', locals: { filter_name: :name, datalist: route_name_info } %>
        <% end %>
      </td>
      <td> 
        <% if @controller_filter %>
          <%= render partial: 'filter_badge', locals: { filter_key: :controller, filter_value: @controller_filter } %>
        <% else %>
          <%= render partial: 'autocomplete_filter', locals: { filter_name: :controller, datalist: route_controller_info } %>
        <% end %>
      </td>
      <td> 
        <% if @action_filter %>
          <%= render partial: 'filter_badge', locals: { filter_key: :action, filter_value: @action_filter } %>
        <% else %>
          <%= render partial: 'select_filter', locals: { filter_name: :action, choices: route_action_info } %>
        <% end %> 
      </td>
      <td>
        <% if @verb_filter %>
          <%= render partial: 'filter_badge', locals: { filter_key: :verb, filter_value: @verb_filter } %>
        <% else %>
          <%= render partial: 'select_filter', locals: { filter_name: :verb, choices: route_verb_info } %>
        <% end %> 
      </td>
      <td>
        <% if @path_filter %>
          <%= render partial: 'filter_badge', locals: { filter_key: :path, filter_value: @path_filter } %>
        <% else %>
          <%= render partial: 'autocomplete_filter' , locals: { filter_name: :path, datalist: route_path_info } %>
        <% end %>
      </td>
    </tr>
      <% if @routes.count.positive? %>
        <%= render partial: "route", collection: @routes %>
      <% else %>
        <p>
          Try a different search!
        </p>
      <% end %>
  </tbody>
</table>
