<%= content_for :demo_title, "Validation" %>
<%= content_for :demo_summary, "Real time server-side form validation" %>
<%= render_demo "/validations/demo" %>

<%= render_explanation do %>
  <p>Validates user input as it's entered using standard <%= link_to "ActiveRecord validations", "https://guides.rubyonrails.org/active_record_validations.html", target: "_blank" %>.</p>
<% end %>

<%= render_gists(
  "app/javascript/stylesheets/validation.scss",
  "app/javascript/controllers/validations_controller.js",
  "app/views/validations/_demo.html.erb",
  "app/models/user.rb",
  "app/controllers/validations_controller.rb",
  "app/reflexes/validations_reflex.rb",
) %>
