<%= content_for :demo_title, "Permalink" %>
<%= content_for :demo_summary, "Update the browser URL after filtering" %>
<%= render_demo "/permalinks/demo" %>

<%= render_explanation do %>
  <p>

  </p>
  <p>
    <ul>
      <li>No need for expensive third party libraries.</li>
      <li>No need to send heavy JavaScript payloads to the client.</li>
      <li>No need to build an API layer that returns JSON.</li>
      <li><strong>A little server-side HTML rendering and a <code>Reflex</code> is all it takes.</strong></li>
    </ul>
  </p>
<% end %>

<%= render_gists(
  "app/views/permalinks/_demo.html.erb",
  "app/javascript/controllers/permalink_controller.js",
  "app/controllers/permalinks_controller.rb",
  "app/reflexes/permalink_reflex.rb"
) %>
