<!DOCTYPE html>
<html>
  <head>
    <title>StimulusReflexExpo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render(NavbarComponent.new) %>
    </header>
    <%= render(PageComponent.new)  { yield } %>
    <footer>
      <%= render(FooterComponent.new) %>
    </footer>
  </body>
</html>
